.CommentsSection {
  width: 100%;

  h1 {
    font-size: 20px;
  }
}

.CommentForm {
  .bodyInput {
    width: 100%;
    height: 200px;
    font-size: 14px;
    resize: vertical;
    display: block;
  }
}

.CommentContainer {
  margin: 10px 0;

  p {
    margin: 4px 0;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  .author {
    font-size: 14px;
    font-weight: bold;
  }

  .authorLink {
    color: inherit;
    text-decoration: none;
  }

  .postAuthorBadge {
    color: #a10702;
    font-weight: lighter;
  }

  .datePosted {
    font-size: 12px;
  }

  .body {
    font-size: 14px;
  }
}

.loadMore {
  width: 100%;
}
