.Profile {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  background-color: #0b0b0b;
  padding-bottom: 12px;
}

.banner {
  width: 100%;
  height: 60vw;
  max-height: 270px;
  object-fit: cover;
}

.sticky {
  position: sticky;
  top: 60px;
}

.sideContent {
  display: none;
  padding-top: 15vh;
}

.userCardWrapper {
  position: relative;
  top: -66px;
  margin-bottom: -66px;
}

@media only screen and (min-width: 950px) {
  .Profile {
    display: flex;
    justify-content: space-between;
  }

  .mainContent {
    flex-grow: 1;
    align-self: center;
  }

  .sideContent {
    border-left: 1px solid #111;
    max-width: 300px;
    display: block;
  }

  .userCardWrapper {
    display: none;
  }
}
