.BlogPostWithComments {
  max-width: 700px;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin: 16px auto;
  overflow-wrap: anywhere;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.author {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
  font-weight: 600;
  font-size: 18px;
}
