.Avatar {
  padding: 2px;
  border-radius: 50%;
  background-color: currentColor;
}

.small {
  width: 50px;
  height: 50px;
}

.medium {
  width: 96px;
  height: 96px;
}

.large {
  width: 120px;
  height: 120px;
}
