.Avatar {
  border-radius: 50%;
  border: 2px solid currentColor;
  padding: 2px;
}

.small {
  width: 56px;
  height: 56px;
}

.medium {
  width: 96px;
  height: 96px;
}

.large {
  width: 120px;
  height: 120px;
}
