@import './mixins';

.BlogPostWithComments {
  @include blog-post-container;
}

.author {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
  font-weight: 600;
  font-size: 18px;
}

.sticky {
  position: sticky;
  top: 0;
  padding-top: 15vh;
}
