.BlogPostEditorContainer {
  min-height: 80vh;
  padding: 20px;
  max-width: 600px;
  width: calc(100vw - 2 * 12px); // 12px is the padding used by blog page container
}

.title {
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  margin-bottom: 5px;
}
