/*
  Stylesheet to override some of the styles injected from Editor.js library.
*/

.cdx-search-field,
.image-tool__caption {
  display: none;
}

.ce-block__content:hover {
  background-color: lightgray;
}

.codex-editor--narrow,
.codex-editor__redactor {
  margin-right: 0 !important;
}

.ce-toolbar__actions {
  background-color: white;
  border: 1px solid black;
  right: 0 !important;
}

.ce-paragraph {
  font-size: 18px;
  line-height: 24px;
}

.cdx-block {
  padding: 0;
  margin-bottom: 14px;
}
