.cdx-search-field,
.image-tool__caption {
  display: none;
}

.ce-block__content:hover{
  background-color:lightgray;
}

.codex-editor--narrow,
.codex-editor__redactor {
  margin-right: 0 !important;
}

.codex-editor__redactor {
  padding-bottom: 10px !important;
  width: 510px;
  min-height: 200px;
}

.ce-toolbar {
  right: unset;
}

.ce-toolbar__actions {
  background-color: white;
  border: 1px solid black;
  right: 0 !important;
}


.ce-paragraph {
  line-height: 1.1em;
}

.cdx-block {
  padding: 0;
  margin-bottom: 10px;
}