.EditUserDetails {
  max-width: 500px;
  margin: 0 auto;
}

.avatarChange {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.biographyInput {
  width: 100%;
  height: 70px;
  resize: none;
  max-width: 500px;
  height: 150px;
  display: block;
}

.characterLimit {
  font-size: 12px;
  padding-bottom: 10px;
}

.submitButton {
  margin-left: auto;
  display: block;
}
