.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form {
  width: 100%;
}

.formSection {
  margin: 20px 0;

  label {
    display: block;
    margin-bottom: 4px;
  }

  input,
  button {
    font-size: 16px;
    width: 100%;
    border-radius: 6px;
    border-style: none;
    padding: 12px 14px;
  }

  label,
  button {
    font-weight: 600;
  }
}

.errorMsg {
  text-align: center;
  color: red;
}

@media only screen and (min-width: 481px) {
  .form {
    width: 400px;
  }
}
