.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent {
  position: absolute;
  background-color: white;
  margin: 10vh;
  display: block;
  min-width: 500px;
}