.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 50px;
  width: 100%;
  background-color: black;
  box-shadow: 0 0 6px #222;
  position: relative;
  z-index: 1;
}

.link {
  text-decoration: none;
  color: white;

  &:hover {
    color: black;
  }
}

.dropdownMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.dropdownToggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.dropdownContent {
  width: 100px;
  background-color: purple;
  z-index: 2;
  position: absolute;
  top: 24px;

  &.inactive {
    display: none;
  }
}

.dropdownLink {
  text-decoration: none;
  color: rgb(230, 230, 230);
  display: block;
  padding: 5px;
  font-size: 14px;

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.logoutBtn {
  border: none;
  background: none;
  cursor: pointer;
  display: block;
}
