.Page {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  background-color: #0b0b0b;
  padding-bottom: 12px;
}

.Sidebar {
  min-width: 250px;
  border-left: 1px solid #111;
  display: none;
}

@media only screen and (min-width: 950px) {
  .Page {
    display: flex;
    justify-content: space-between;
  }

  .Main {
    flex-grow: 1;
  }

  .Sidebar {
    flex-grow: 1;
    max-width: 300px;
    display: block;
  }
}
