.container {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.pageLinksContainer {
  display: flex;
  justify-content: space-between;
}

.pageLink {
  text-decoration: none;
}

.pageNumber {
  text-align: right;
}
