.container {
  margin: 10px 0;
}

.buttonsContainer {
  display: flex;

  button {
    background: none;
    border: none;
    color: white;
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .previous {
    margin-right: auto;
  }

  .next {
    margin-left: auto;
  }
}

.pageNumber {
  text-align: right;
}
