.container {
  padding: 10px 0;
}

.pageLinksContainer {
  display: flex;

  a {
    text-decoration: none;
  }

  .previous {
    margin-right: auto;
  }

  .next {
    margin-left: auto;
  }
}

.pageNumber {
  text-align: right;
}

