.toolbar {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.toolButton {
  border-style: none;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: lightgrey;
  }
}
